server:
  port: 8888
  spring:
  application:
  name: config-server
  cloud:
  config:
  server:
  git:
  uri: https://bitbucket.org/dydossy/2025-config.git
  default-label: master
  clone-on-start: true